body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
    display: flex;
    width: 100%;
}

.sidebar {
    position:fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background-color: #003aff;
    border-right: 2px solid #000;
    margin-right: 15px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5em 0.5em 0.5em;
}

.content {
    flex: 1;
    margin-left: 120px;
    background-origin: content-box;
}

.tall-div {
    height: 120vh
}

.hero-list div {
    height: 120vh
}

.hero-list-item {
    font-size: 2em;
    margin: 0.5em 0;
    height: 6vh;
}

.hero-list-header {
    color: #666666;
    text-decoration: underline;
}

.header {
    background-color: #68a9b3;
}