code {
	color: rgb(199, 146, 234);
}

ul, ol {
	text-align: left;
}

.stacked {
	position: absolute;
	width: 100%;
	height: 100%;
}

.stacked-container {
	position:relative;
	display: flex;
}

a {
	color: inherit;
}